/* -------------------------------------------------------- */
/* Reset                                                    */
/* -------------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Chubbo', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    text-align: left;
}

@-ms-viewport {
    width: device-width;
}

[tabindex="-1"]:focus {
    outline: none !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Stardom', cursive;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    line-height: 1.5;
    margin-top: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

b,
strong {
    font-weight: bolder;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

a,
button,
[role="button"],
input,
label,
select,
textarea {
    touch-action: manipulation;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[hidden] {
    display: none !important;
}

/* -------------------------------------------------------- */
/* Quiz                                                     */
/* -------------------------------------------------------- */

.quiz-container {
    margin: 0 auto;
    max-width: 32rem;
    padding: 2%;
    position: relative;
}

.quiz {
    border: 1px solid #9E8948;
    padding: 8%;
}

.question {
    margin-bottom: 2rem;
}

.question.disabled {
    color: #B0B0B0;
}

.question.disabled .radio-handle,
.question.disabled .question__answer {
    border-color: #B0B0B0;
}

.question.disabled .radio-handle::after {
    background: #B0B0B0;
}

.question__title {
    color: #2D563F;
}

.question.disabled .question__title {
    color: #B0B0B0;
}

.question__answer {
    align-items: center;
    border: 1px solid #2D563F;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0.75rem 0.75rem 0.75rem 3rem;
    position: relative;
}

.question__answer svg {
    flex: 0 0 1.5rem;
    margin-left: 0.75rem;
    stroke: #2D563F;
}

.radio-handle {
    background: #FFF;
    border: 1px solid #2D563F;
    border-radius: 1rem;
    height: 1.5rem;
    left: 0.75rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
}

.radio-handle::after {
    background: #2D563F;
    border-radius: 50%;
    content: '';
    display: block;
    height: 0.875rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 0.875rem;
}

.question__answer input[type='radio']:checked + .radio-handle::after {
    transform: translate(-50%, -50%);
}

.question__answer input[type='radio'] {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

.question__answer-text {
    padding: 0.0625rem 0;
}

/* -------------------------------------------------------- */
/* Line Icons                                               */
/* -------------------------------------------------------- */

.line-icon {
    fill: none;
    height: 1.5rem;
    stroke-width: 2;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 1.5rem;
}

.line-icon.divider {
    display: block;
    margin: 2rem auto;
    stroke: #9E8948;
    width: 8rem;
}

/* -------------------------------------------------------- */
/* Modal                                                    */
/* -------------------------------------------------------- */

.modal {
    align-items: center;
    background: rgba(4, 10, 7, 0.75);
    backdrop-filter: blur(0.25rem);
    display: flex;
    height: 100%;
    height: 100vh;
    height: 100dvh;
    justify-content: center;
    left: 0;
    padding: 6vw;
    position: fixed;
    top: 0;
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1),
                visibility 450ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 100%;
    z-index: 9;
}

.modal[data-modal-active='false'] {
    opacity: 0;
    pointer-events: none;
    visibility: visible;
}

.modal-content {
    position: relative;
    max-width: 32rem;
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 100%;
}

.modal[data-modal-active='false'] .modal-content {
    transform: scale(0.9);
}

.modal-content__card {
    background: #FFF;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
    padding: 2%;
    position: relative;
    z-index: 2;
}

.modal-content__card-border {
    border: 1px solid #9E8948;
    padding: 10% 8%;
}

.modal-content__heading {
    font-size: 1.75rem;
    margin: 0.5rem 0 1rem;
}

/* .modal-content__words-n-stuff {
    
} */

.branch1,
.branch2 {
    pointer-events: none;
    position: absolute;
    width: 33%;
}

.branch1 {
    left: 10.5%;
    top: 5%;
    transform: translate(-50%, -50%);
}

.branch2 {
    bottom: 3%;
    right: 9%;
    transform: translate(50%, 50%) rotate(160deg);
}

/* -------------------------------------------------------- */
/* Billy & Emily                                            */
/* -------------------------------------------------------- */

.billy-and-emily {
    bottom: 0;
    left: 0;
    padding-bottom: 18%;
    position: relative;
    width: 100%;
}

#billy,
#emily {
    display: flex;
    position: absolute;
    transition: transform 750ms cubic-bezier(0.16, 1.4, 0.3, 1);
    width: 14%;
}

.modal[data-modal-active='false'] #billy,
.modal[data-modal-active='false'] #emily {
    transform: translateY(128%);
    transition: transform 450ms cubic-bezier(0.6, 0, 0.4, 1);
    transition-delay: 0s;
}

#billy > div,
#emily > div {
    content: '';
}

.hand {
    background: #F4C6A1;
    border-radius: 100%;
    left: 100%;
    padding-bottom: 30%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

/* -------------------------------------------------------- */
/* Billy                                                    */
/* -------------------------------------------------------- */

#billy {
    right: 27%;
    transition-delay: 550ms;
}

#billy .body {
    width: 100%;
}

#billy .head {
    bottom: 72%;
    left: 49%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

#billy [class^='arm'],
#billy [class^='forearm'] {
    background: #7C7C7C;
    border-radius: 72rem;
    position: absolute;
    transform-origin: 10% 50%;
}

#billy [class^='arm'] {
    height: 11%;
    top: 14%;
    width: 70%;
}

#billy [class^='forearm'] {
    height: 100%;
    top: 15%;
    width: 100%;
}

#billy .arm--left {
    left: 5%;
    transform: rotate(-140deg);
}

#billy .forearm--left {
    transform: rotate(40deg);
    position: absolute;
    left: 80%;
    top: 0%;
}

#billy .arm--right {
    left: 83%;
    transform: rotate(-60deg);
}

#billy .forearm--right {
    transform: rotate(-40deg);
    position: absolute;
    left: 80%;
    top: 0%;
}

#billy[data-state='yay'] .arm--left,
#billy[data-state='yay'] .arm--right,
#billy[data-state='yay'] .forearm--left,
#billy[data-state='yay'] .forearm--right {
    animation-direction: alternate;
    animation-duration: 350ms;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
}

#billy[data-state='yay'] .arm--left {
    animation-name: yay--billy-arm-left;
}

#billy[data-state='yay'] .forearm--left {
    animation-name: yay--billy-forearm-left;
}

#billy[data-state='yay'] .arm--right {
    animation-name: yay--billy-arm-right;
}

#billy[data-state='yay'] .forearm--right {
    animation-name: yay--billy-forearm-right;
}

@keyframes yay--billy-arm-left {
    from { transform: rotate(-120deg); }
    to { transform: rotate(-220deg); }
}

@keyframes yay--billy-forearm-left {
    from { transform: rotate(20deg); }
    to { transform: rotate(130deg); }
}

@keyframes yay--billy-arm-right {
    from { transform: rotate(-65deg); }
    to { transform: rotate(20deg); }
}

@keyframes yay--billy-forearm-right {
    from { transform: rotate(-15deg); }
    to { transform: rotate(-130deg); }
}

/* -------------------------------------------------------- */
/* Emily                                                    */
/* -------------------------------------------------------- */

#emily {
    left: 27%;
    transition-delay: 400ms;
}

#emily .body {
    width: 100%;
}

#emily .head {
    bottom: 72%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

#emily [class^='arm'],
#emily [class^='forearm'] {
    background: #F4C6A1;
    border-radius: 72rem;
    position: absolute;
    top: 15%;
    transform-origin: 10% 50%;
}

#emily [class^='arm'] {
    height: 8.5%;
    width: 70%;
}

#emily [class^='forearm'] {
    height: 100%;
    width: 100%;
}

#emily .arm--left {
    left: 8%;
    transform: rotate(-120deg);
}

#emily .forearm--left {
    transform: rotate(20deg);
    position: absolute;
    left: 80%;
    top: 0%;
}

#emily .arm--right {
    left: 80%;
    transform: rotate(-60deg);
}

#emily .forearm--right {
    transform: rotate(-20deg);
    position: absolute;
    left: 80%;
    top: 0%;
}

#emily[data-state='yay'] .arm--left,
#emily[data-state='yay'] .arm--right,
#emily[data-state='yay'] .forearm--left,
#emily[data-state='yay'] .forearm--right {
    animation-direction: alternate;
    animation-duration: 450ms;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
}

#emily[data-state='yay'] .arm--left {
    animation-name: yay--emily-arm-left;
}

#emily[data-state='yay'] .forearm--left {
    animation-name: yay--emily-forearm-left;
}

#emily[data-state='yay'] .arm--right {
    animation-name: yay--emily-arm-right;
}

#emily[data-state='yay'] .forearm--right {
    animation-name: yay--emily-forearm-right;
}

@keyframes yay--emily-arm-left {
    from { transform: rotate(-120deg); }
    to { transform: rotate(-220deg); }
}

@keyframes yay--emily-forearm-left {
    from { transform: rotate(20deg); }
    to { transform: rotate(135deg); }
}

@keyframes yay--emily-arm-right {
    from { transform: rotate(20deg); }
    to { transform: rotate(-65deg); }
}

@keyframes yay--emily-forearm-right {
    from { transform: rotate(-130deg); }
    to { transform: rotate(-15deg); }
}